In [1]:
!wget "https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W" -O titanic.csv

--2024-10-27 20:34:12--  https://drive.google.com/uc?export=download&id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W
drive.google.com (drive.google.com) をDNSに問いあわせています... 2404:6800:4004:808::200e, 142.250.199.110
drive.google.com (drive.google.com)|2404:6800:4004:808::200e|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 303 See Other
場所: https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download [続く]
--2024-10-27 20:34:12--  https://drive.usercontent.google.com/download?id=10g3IxY8nvE71v3NuqzpDhr2in-EOBX1W&export=download
drive.usercontent.google.com (drive.usercontent.google.com) をDNSに問いあわせています... 2404:6800:4004:822::2001, 142.250.196.97
drive.usercontent.google.com (drive.usercontent.google.com)|2404:6800:4004:822::2001|:443 に接続しています... 接続しました。
HTTP による接続要求を送信しました、応答を待っています... 200 OK
長さ: 116752 (114K) [application/octet-stream]
`titanic.csv' に保存中

titanic.csv         100%[===================>] 114.02K  --.-KB/s    in 0.1s

2024-10-27 20:34:15 (1.03 MB/s) - `titanic.csv' へ保存完了 [116752/116752]

In [2]:
import polars as pl
import pandas as pd

## Polars

In [3]:
df = pl.read_csv("titanic.csv")

In [4]:
df.head(3)

shape: (3, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬────────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest          │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str                │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO       │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴────────────────────┘

In [5]:
df.head(100)

shape: (100, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬────────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest          │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str                │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO       │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ …      ┆ …        ┆ …                  ┆ …      ┆ … ┆ …        ┆ …    ┆ …    ┆ …                  │
│ 1      ┆ 1        ┆ Dodge, Mrs.        ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ San Francisco, CA  │
│        ┆          ┆ Washington (Ruth   ┆        ┆   ┆          ┆      ┆      ┆                    │
│        ┆          ┆ V…                 ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Douglas, Mr.       ┆ male   ┆ … ┆ C        ┆ null ┆ 62   ┆ Deephaven, MN /    │
│        ┆          ┆ Walter Donald      ┆        ┆   ┆          ┆      ┆      ┆ Cedar Rapids, …    │
│ 1      ┆ 1        ┆ Douglas, Mrs.      ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ Frederick Charle…  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Douglas, Mrs.      ┆ female ┆ … ┆ C        ┆ 2    ┆ null ┆ Deephaven, MN /    │
│        ┆          ┆ Walter Donald (M…  ┆        ┆   ┆          ┆      ┆      ┆ Cedar Rapids, …    │
│ 1      ┆ 1        ┆ Duff Gordon, Lady. ┆ female ┆ … ┆ C        ┆ 1    ┆ null ┆ London / Paris     │
│        ┆          ┆ (Lucille Ch…       ┆        ┆   ┆          ┆      ┆      ┆                    │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴────────────────────┘

In [6]:
pl.Config.set_tbl_rows(100)

polars.config.Config

In [7]:
df.head(100)

shape: (100, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬────────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest          │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str                │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO       │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 1        ┆ Anderson, Mr.      ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ New York, NY       │
│        ┆          ┆ Harry              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Andrews, Miss.     ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Hudson, NY         │
│        ┆          ┆ Kornelia Theodo…   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Andrews, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Belfast, NI        │
│        ┆          ┆ Thomas Jr          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Appleton, Mrs.     ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Bayside, Queens,   │
│        ┆          ┆ Edward Dale (Ch…   ┆        ┆   ┆          ┆      ┆      ┆ NY                 │
│ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ male   ┆ … ┆ C        ┆ null ┆ 22   ┆ Montevideo,        │
│        ┆          ┆ Ramon              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay            │
│ 1      ┆ 0        ┆ Astor, Col. John   ┆ male   ┆ … ┆ C        ┆ null ┆ 124  ┆ New York, NY       │
│        ┆          ┆ Jacob              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Astor, Mrs. John   ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ New York, NY       │
│        ┆          ┆ Jacob (Madele…     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Aubart, Mme.       ┆ female ┆ … ┆ C        ┆ 9    ┆ null ┆ Paris, France      │
│        ┆          ┆ Leontine Pauline   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Barber, Miss.      ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ null               │
│        ┆          ┆ Ellen "Nellie"     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Barkworth, Mr.     ┆ male   ┆ … ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks      │
│        ┆          ┆ Algernon Henry …   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Baumann, Mr. John  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY       │
│        ┆          ┆ D                  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Baxter, Mr. Quigg  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ Edmond             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Baxter, Mrs. James ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ (Helene DeL…       ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bazzani, Miss.     ┆ female ┆ … ┆ C        ┆ 8    ┆ null ┆ null               │
│        ┆          ┆ Albina             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Beattie, Mr.       ┆ male   ┆ … ┆ C        ┆ A    ┆ null ┆ Winnipeg, MN       │
│        ┆          ┆ Thomson            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Beckwith, Mr.      ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Richard Leonard    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Beckwith, Mrs.     ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Richard Leonard…   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Behr, Mr. Karl     ┆ male   ┆ … ┆ C        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Howell             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bidois, Miss.      ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ null               │
│        ┆          ┆ Rosalie            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bird, Miss. Ellen  ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ null               │
│ 1      ┆ 0        ┆ Birnbaum, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 148  ┆ San Francisco, CA  │
│        ┆          ┆ Jakob              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bishop, Mr.        ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Dowagiac, MI       │
│        ┆          ┆ Dickinson H        ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bishop, Mrs.       ┆ female ┆ … ┆ C        ┆ 7    ┆ null ┆ Dowagiac, MI       │
│        ┆          ┆ Dickinson H (Hele… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bissette, Miss.    ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ null               │
│        ┆          ┆ Amelia             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bjornstrom-Steffan ┆ male   ┆ … ┆ S        ┆ D    ┆ null ┆ Stockholm, Sweden  │
│        ┆          ┆ sson, Mr. Ma…      ┆        ┆   ┆          ┆      ┆      ┆ / Washington…      │
│ 1      ┆ 0        ┆ Blackwell, Mr.     ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Trenton, NJ        │
│        ┆          ┆ Stephen Weart      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Blank, Mr. Henry   ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Glen Ridge, NJ     │
│ 1      ┆ 1        ┆ Bonnell, Miss.     ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ Youngstown, OH     │
│        ┆          ┆ Caroline           ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bonnell, Miss.     ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ Birkdale, England  │
│        ┆          ┆ Elizabeth          ┆        ┆   ┆          ┆      ┆      ┆ Cleveland, O…      │
│ 1      ┆ 0        ┆ Borebank, Mr. John ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ London / Winnipeg, │
│        ┆          ┆ James              ┆        ┆   ┆          ┆      ┆      ┆ MB                 │
│ 1      ┆ 1        ┆ Bowen, Miss. Grace ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ Cooperstown, NY    │
│        ┆          ┆ Scott              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bowerman, Miss.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ St                 │
│        ┆          ┆ Elsie Edith        ┆        ┆   ┆          ┆      ┆      ┆ Leonards-on-Sea,   │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ England Oh…        │
│ 1      ┆ 1        ┆ Bradley, Mr.       ┆ male   ┆ … ┆ S        ┆ 9    ┆ null ┆ Los Angeles, CA    │
│        ┆          ┆ George ("George A… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Brady, Mr. John    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Pomeroy, WA        │
│        ┆          ┆ Bertram            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Brandeis, Mr. Emil ┆ male   ┆ … ┆ C        ┆ null ┆ 208  ┆ Omaha, NE          │
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Philadelphia, PA   │
│        ┆          ┆ Jackson            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Brown, Mrs. James  ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Denver, CO         │
│        ┆          ┆ Joseph (Marg…      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Brown, Mrs. John   ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Belmont, MA        │
│        ┆          ┆ Murray (Carol…     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bucknell, Mrs.     ┆ female ┆ … ┆ C        ┆ 8    ┆ null ┆ Philadelphia, PA   │
│        ┆          ┆ William Robert …   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Burns, Miss.       ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ null               │
│        ┆          ┆ Elizabeth Margare… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Butt, Major.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Washington, DC     │
│        ┆          ┆ Archibald Willing… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Cairns, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null               │
│        ┆          ┆ Alexander          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Calderhead, Mr.    ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Edward Penning…    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Candee, Mrs.       ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Washington, DC     │
│        ┆          ┆ Edward (Helen Chu… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cardeza, Mr.       ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary /  │
│        ┆          ┆ Thomas Drake Mart… ┆        ┆   ┆          ┆      ┆      ┆ Germantown, …      │
│ 1      ┆ 1        ┆ Cardeza, Mrs.      ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ Germantown,        │
│        ┆          ┆ James Warburton …  ┆        ┆   ┆          ┆      ┆      ┆ Philadelphia, PA   │
│ 1      ┆ 0        ┆ Carlsson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY       │
│        ┆          ┆ Frans Olof         ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Carrau, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Montevideo,        │
│        ┆          ┆ Francisco M        ┆        ┆   ┆          ┆      ┆      ┆ Uruguay            │
│ 1      ┆ 0        ┆ Carrau, Mr. Jose   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Montevideo,        │
│        ┆          ┆ Pedro              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay            │
│ 1      ┆ 1        ┆ Carter, Master.    ┆ male   ┆ … ┆ S        ┆ 4    ┆ null ┆ Bryn Mawr, PA      │
│        ┆          ┆ William Thornt…    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Carter, Miss.      ┆ female ┆ … ┆ S        ┆ 4    ┆ null ┆ Bryn Mawr, PA      │
│        ┆          ┆ Lucile Polk        ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Carter, Mr.        ┆ male   ┆ … ┆ S        ┆ C    ┆ null ┆ Bryn Mawr, PA      │
│        ┆          ┆ William Ernest     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Carter, Mrs.       ┆ female ┆ … ┆ S        ┆ 4    ┆ null ┆ Bryn Mawr, PA      │
│        ┆          ┆ William Ernest (L… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Case, Mr. Howard   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Ascot, Berkshire / │
│        ┆          ┆ Brown              ┆        ┆   ┆          ┆      ┆      ┆ Rochester, …       │
│ 1      ┆ 1        ┆ Cassebeer, Mrs.    ┆ female ┆ … ┆ C        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Henry Arthur J…    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Cavendish, Mr.     ┆ male   ┆ … ┆ S        ┆ null ┆ 172  ┆ Little Onn Hall,   │
│        ┆          ┆ Tyrell William     ┆        ┆   ┆          ┆      ┆      ┆ Staffs             │
│ 1      ┆ 1        ┆ Cavendish, Mrs.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ Little Onn Hall,   │
│        ┆          ┆ Tyrell William…    ┆        ┆   ┆          ┆      ┆      ┆ Staffs             │
│ 1      ┆ 0        ┆ Chaffee, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Amenia, ND         │
│        ┆          ┆ Herbert Fuller     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Chaffee, Mrs.      ┆ female ┆ … ┆ S        ┆ 4    ┆ null ┆ Amenia, ND         │
│        ┆          ┆ Herbert Fuller (…  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Chambers, Mr.      ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY /     │
│        ┆          ┆ Norman Campbell    ┆        ┆   ┆          ┆      ┆      ┆ Ithaca, NY         │
│ 1      ┆ 1        ┆ Chambers, Mrs.     ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY /     │
│        ┆          ┆ Norman Campbell…   ┆        ┆   ┆          ┆      ┆      ┆ Ithaca, NY         │
│ 1      ┆ 1        ┆ Chaudanson, Miss.  ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ null               │
│        ┆          ┆ Victorine          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cherry, Miss.      ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ London, England    │
│        ┆          ┆ Gladys             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Chevre, Mr. Paul   ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Paris, France      │
│        ┆          ┆ Romaine            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Chibnall, Mrs.     ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ St                 │
│        ┆          ┆ (Edith Martha B…   ┆        ┆   ┆          ┆      ┆      ┆ Leonards-on-Sea,   │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ England Oh…        │
│ 1      ┆ 0        ┆ Chisholm, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Liverpool, England │
│        ┆          ┆ Roderick Robert …  ┆        ┆   ┆          ┆      ┆      ┆ / Belfast          │
│ 1      ┆ 0        ┆ Clark, Mr. Walter  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Los Angeles, CA    │
│        ┆          ┆ Miller             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Clark, Mrs. Walter ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ Los Angeles, CA    │
│        ┆          ┆ Miller (Vir…       ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cleaver, Miss.     ┆ female ┆ … ┆ S        ┆ 11   ┆ null ┆ null               │
│        ┆          ┆ Alice              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Clifford, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Stoughton, MA      │
│        ┆          ┆ George Quincy      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Colley, Mr. Edward ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Victoria, BC       │
│        ┆          ┆ Pomeroy            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Compton, Miss.     ┆ female ┆ … ┆ C        ┆ 14   ┆ null ┆ Lakewood, NJ       │
│        ┆          ┆ Sara Rebecca       ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Compton, Mr.       ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Lakewood, NJ       │
│        ┆          ┆ Alexander Taylor … ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Compton, Mrs.      ┆ female ┆ … ┆ C        ┆ 14   ┆ null ┆ Lakewood, NJ       │
│        ┆          ┆ Alexander Taylor…  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cornell, Mrs.      ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ New York, NY       │
│        ┆          ┆ Robert Clifford …  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Crafton, Mr. John  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Roachdale, IN      │
│        ┆          ┆ Bertram            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Crosby, Capt.      ┆ male   ┆ … ┆ S        ┆ null ┆ 269  ┆ Milwaukee, WI      │
│        ┆          ┆ Edward Gifford     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Crosby, Miss.      ┆ female ┆ … ┆ S        ┆ 7    ┆ null ┆ Milwaukee, WI      │
│        ┆          ┆ Harriet R          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Crosby, Mrs.       ┆ female ┆ … ┆ S        ┆ 7    ┆ null ┆ Milwaukee, WI      │
│        ┆          ┆ Edward Gifford (C… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Cumings, Mr. John  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ New York, NY       │
│        ┆          ┆ Bradley            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cumings, Mrs. John ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ New York, NY       │
│        ┆          ┆ Bradley (Fl…       ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Daly, Mr. Peter    ┆ male   ┆ … ┆ S        ┆ 5 9  ┆ null ┆ Lima, Peru         │
│        ┆          ┆ Denis              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Daniel, Mr. Robert ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ Philadelphia, PA   │
│        ┆          ┆ Williams           ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Daniels, Miss.     ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ null               │
│        ┆          ┆ Sarah              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Davidson, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ Thornton           ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Davidson, Mrs.     ┆ female ┆ … ┆ S        ┆ 3    ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ Thornton (Orian…   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Dick, Mr. Albert   ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ Calgary, AB        │
│        ┆          ┆ Adrian             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Dick, Mrs. Albert  ┆ female ┆ … ┆ S        ┆ 3    ┆ null ┆ Calgary, AB        │
│        ┆          ┆ Adrian (Vera…      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Dodge, Dr.         ┆ male   ┆ … ┆ S        ┆ 13   ┆ null ┆ San Francisco, CA  │
│        ┆          ┆ Washington         ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Dodge, Master.     ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ San Francisco, CA  │
│        ┆          ┆ Washington         ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Dodge, Mrs.        ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ San Francisco, CA  │

In [8]:
df.tail(3)

shape: (3, 14)
┌────────┬──────────┬───────────────────────────┬──────┬───┬──────────┬──────┬──────┬───────────┐
│ pclass ┆ survived ┆ name                      ┆ sex  ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest │
│ ---    ┆ ---      ┆ ---                       ┆ ---  ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---       │
│ i64    ┆ i64      ┆ str                       ┆ str  ┆   ┆ str      ┆ str  ┆ i64  ┆ str       │
╞════════╪══════════╪═══════════════════════════╪══════╪═══╪══════════╪══════╪══════╪═══════════╡
│ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer ┆ male ┆ … ┆ C        ┆ null ┆ 304  ┆ null      │
│ 3      ┆ 0        ┆ Zakarian, Mr. Ortin       ┆ male ┆ … ┆ C        ┆ null ┆ null ┆ null      │
│ 3      ┆ 0        ┆ Zimmerman, Mr. Leo        ┆ male ┆ … ┆ S        ┆ null ┆ null ┆ null      │
└────────┴──────────┴───────────────────────────┴──────┴───┴──────────┴──────┴──────┴───────────┘

In [9]:
df.glimpse()

Rows: 1309
Columns: 14
$ pclass    <i64> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1
$ survived  <i64> 1, 1, 0, 0, 0, 1, 1, 0, 1, 0
$ name      <str> 'Allen, Miss. Elisabeth Walton', 'Allison, Master. Hudson Trevor', 'Allison, Miss. Helen Loraine', 'Allison, Mr. Hudson Joshua Creighton', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Anderson, Mr. Harry', 'Andrews, Miss. Kornelia Theodosia', 'Andrews, Mr. Thomas Jr', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', 'Artagaveytia, Mr. Ramon'
$ sex       <str> 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'male', 'female', 'male'
$ age       <f64> 29.0, 0.92, 2.0, 30.0, 25.0, 48.0, 63.0, 39.0, 53.0, 71.0
$ sibsp     <i64> 0, 1, 1, 1, 1, 0, 1, 0, 2, 0
$ parch     <i64> 0, 2, 2, 2, 2, 0, 0, 0, 0, 0
$ ticket    <str> '24160', '113781', '113781', '113781', '113781', '19952', '13502', '112050', '11769', 'PC 17609'
$ fare      <f64> 211.3375, 151.55, 151.55, 151.55, 151.55, 26.55, 77.9583, 0.0, 51.4792, 49.5042
$ cabin     <str> 'B5', 'C22 C26', 'C22 C26', 'C22 C26', 'C22 C26', 'E12', 'D7', 'A36', 'C101', None
$ embarked  <str> 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'C'
$ boat      <str> '2', '11', None, None, None, '3', '10', None, 'D', None
$ body      <i64> None, None, None, 135, None, None, None, None, None, 22
$ home.dest <str> 'St Louis, MO', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'Montreal, PQ / Chesterville, ON', 'New York, NY', 'Hudson, NY', 'Belfast, NI', 'Bayside, Queens, NY', 'Montevideo, Uruguay'

In [10]:
df_head50 = df.head(50)

In [11]:
df_head50 = df.head(50)
df_head50

shape: (50, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬────────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest          │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---                │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str                │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪════════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO       │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson Joshua Cre… ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /     │
│        ┆          ┆ Hudson J C (Bess…  ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, O…   │
│ 1      ┆ 1        ┆ Anderson, Mr.      ┆ male   ┆ … ┆ S        ┆ 3    ┆ null ┆ New York, NY       │
│        ┆          ┆ Harry              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Andrews, Miss.     ┆ female ┆ … ┆ S        ┆ 10   ┆ null ┆ Hudson, NY         │
│        ┆          ┆ Kornelia Theodo…   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Andrews, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Belfast, NI        │
│        ┆          ┆ Thomas Jr          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Appleton, Mrs.     ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Bayside, Queens,   │
│        ┆          ┆ Edward Dale (Ch…   ┆        ┆   ┆          ┆      ┆      ┆ NY                 │
│ 1      ┆ 0        ┆ Artagaveytia, Mr.  ┆ male   ┆ … ┆ C        ┆ null ┆ 22   ┆ Montevideo,        │
│        ┆          ┆ Ramon              ┆        ┆   ┆          ┆      ┆      ┆ Uruguay            │
│ 1      ┆ 0        ┆ Astor, Col. John   ┆ male   ┆ … ┆ C        ┆ null ┆ 124  ┆ New York, NY       │
│        ┆          ┆ Jacob              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Astor, Mrs. John   ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ New York, NY       │
│        ┆          ┆ Jacob (Madele…     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Aubart, Mme.       ┆ female ┆ … ┆ C        ┆ 9    ┆ null ┆ Paris, France      │
│        ┆          ┆ Leontine Pauline   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Barber, Miss.      ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ null               │
│        ┆          ┆ Ellen "Nellie"     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Barkworth, Mr.     ┆ male   ┆ … ┆ S        ┆ B    ┆ null ┆ Hessle, Yorks      │
│        ┆          ┆ Algernon Henry …   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Baumann, Mr. John  ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ New York, NY       │
│        ┆          ┆ D                  ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Baxter, Mr. Quigg  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ Edmond             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Baxter, Mrs. James ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Montreal, PQ       │
│        ┆          ┆ (Helene DeL…       ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bazzani, Miss.     ┆ female ┆ … ┆ C        ┆ 8    ┆ null ┆ null               │
│        ┆          ┆ Albina             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Beattie, Mr.       ┆ male   ┆ … ┆ C        ┆ A    ┆ null ┆ Winnipeg, MN       │
│        ┆          ┆ Thomson            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Beckwith, Mr.      ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Richard Leonard    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Beckwith, Mrs.     ┆ female ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Richard Leonard…   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Behr, Mr. Karl     ┆ male   ┆ … ┆ C        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Howell             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bidois, Miss.      ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ null               │
│        ┆          ┆ Rosalie            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bird, Miss. Ellen  ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ null               │
│ 1      ┆ 0        ┆ Birnbaum, Mr.      ┆ male   ┆ … ┆ C        ┆ null ┆ 148  ┆ San Francisco, CA  │
│        ┆          ┆ Jakob              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bishop, Mr.        ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Dowagiac, MI       │
│        ┆          ┆ Dickinson H        ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bishop, Mrs.       ┆ female ┆ … ┆ C        ┆ 7    ┆ null ┆ Dowagiac, MI       │
│        ┆          ┆ Dickinson H (Hele… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bissette, Miss.    ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ null               │
│        ┆          ┆ Amelia             ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bjornstrom-Steffan ┆ male   ┆ … ┆ S        ┆ D    ┆ null ┆ Stockholm, Sweden  │
│        ┆          ┆ sson, Mr. Ma…      ┆        ┆   ┆          ┆      ┆      ┆ / Washington…      │
│ 1      ┆ 0        ┆ Blackwell, Mr.     ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Trenton, NJ        │
│        ┆          ┆ Stephen Weart      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Blank, Mr. Henry   ┆ male   ┆ … ┆ C        ┆ 7    ┆ null ┆ Glen Ridge, NJ     │
│ 1      ┆ 1        ┆ Bonnell, Miss.     ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ Youngstown, OH     │
│        ┆          ┆ Caroline           ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bonnell, Miss.     ┆ female ┆ … ┆ S        ┆ 8    ┆ null ┆ Birkdale, England  │
│        ┆          ┆ Elizabeth          ┆        ┆   ┆          ┆      ┆      ┆ Cleveland, O…      │
│ 1      ┆ 0        ┆ Borebank, Mr. John ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ London / Winnipeg, │
│        ┆          ┆ James              ┆        ┆   ┆          ┆      ┆      ┆ MB                 │
│ 1      ┆ 1        ┆ Bowen, Miss. Grace ┆ female ┆ … ┆ C        ┆ 4    ┆ null ┆ Cooperstown, NY    │
│        ┆          ┆ Scott              ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bowerman, Miss.    ┆ female ┆ … ┆ S        ┆ 6    ┆ null ┆ St                 │
│        ┆          ┆ Elsie Edith        ┆        ┆   ┆          ┆      ┆      ┆ Leonards-on-Sea,   │
│        ┆          ┆                    ┆        ┆   ┆          ┆      ┆      ┆ England Oh…        │
│ 1      ┆ 1        ┆ Bradley, Mr.       ┆ male   ┆ … ┆ S        ┆ 9    ┆ null ┆ Los Angeles, CA    │
│        ┆          ┆ George ("George A… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Brady, Mr. John    ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Pomeroy, WA        │
│        ┆          ┆ Bertram            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Brandeis, Mr. Emil ┆ male   ┆ … ┆ C        ┆ null ┆ 208  ┆ Omaha, NE          │
│ 1      ┆ 0        ┆ Brewe, Dr. Arthur  ┆ male   ┆ … ┆ C        ┆ null ┆ null ┆ Philadelphia, PA   │
│        ┆          ┆ Jackson            ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Brown, Mrs. James  ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Denver, CO         │
│        ┆          ┆ Joseph (Marg…      ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Brown, Mrs. John   ┆ female ┆ … ┆ S        ┆ D    ┆ null ┆ Belmont, MA        │
│        ┆          ┆ Murray (Carol…     ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Bucknell, Mrs.     ┆ female ┆ … ┆ C        ┆ 8    ┆ null ┆ Philadelphia, PA   │
│        ┆          ┆ William Robert …   ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Burns, Miss.       ┆ female ┆ … ┆ C        ┆ 3    ┆ null ┆ null               │
│        ┆          ┆ Elizabeth Margare… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Butt, Major.       ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ Washington, DC     │
│        ┆          ┆ Archibald Willing… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 0        ┆ Cairns, Mr.        ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null               │
│        ┆          ┆ Alexander          ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Calderhead, Mr.    ┆ male   ┆ … ┆ S        ┆ 5    ┆ null ┆ New York, NY       │
│        ┆          ┆ Edward Penning…    ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Candee, Mrs.       ┆ female ┆ … ┆ C        ┆ 6    ┆ null ┆ Washington, DC     │
│        ┆          ┆ Edward (Helen Chu… ┆        ┆   ┆          ┆      ┆      ┆                    │
│ 1      ┆ 1        ┆ Cardeza, Mr.       ┆ male   ┆ … ┆ C        ┆ 3    ┆ null ┆ Austria-Hungary /  │
│        ┆          ┆ Thomas Drake Mart… ┆        ┆   ┆          ┆      ┆      ┆ Germantown, …      │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴────────────────────┘

## pandas

In [12]:
df = pd.read_csv("titanic.csv")

In [13]:
df.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [14]:
df.head(100)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.00,1,1,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
96,1,0,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C,NaN,62.0,"Deephaven, MN / Cedar Rapids, IA"
97,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.00,1,0,11755,39.6000,A16,C,1,NaN,London / Paris

In [15]:
pd.set_option("display.max_rows", 100)
df.head(100)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
31,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
32,1,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,0,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
36,1,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
37,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,9,NaN,"Los Angeles, CA"
38,1,0,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,0,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
40,1,0,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,NaN,NaN,"Philadelphia, PA"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.00,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C,3,NaN,NaN
45,1,0,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
46,1,0,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,NaN,NaN,NaN
47,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"
50,1,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.00,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Germantown, Philadelphia, PA"
51,1,0,"Carlsson, Mr. Frans Olof",male,33.00,0,0,695,5.0000,B51 B53 B55,S,NaN,NaN,"New York, NY"
52,1,0,"Carrau, Mr. Francisco M",male,28.00,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
53,1,0,"Carrau, Mr. Jose Pedro",male,17.00,0,0,113059,47.1000,NaN,S,NaN,NaN,"Montevideo, Uruguay"
54,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
55,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
56,1,1,"Carter, Mr. William Ernest",male,36.00,1,2,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
57,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.00,1,2,113760,120.0000,B96 B98,S,4,NaN,"Bryn Mawr, PA"
58,1,0,"Case, Mr. Howard Brown",male,49.00,0,0,19924,26.0000,NaN,S,NaN,NaN,"Ascot, Berkshire / Rochester, NY"
59,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C,5,NaN,"New York, NY"
60,1,0,"Cavendish, Mr. Tyrell William",male,36.00,1,0,19877,78.8500,C46,S,NaN,172.0,"Little Onn Hall, Staffs"
61,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,C46,S,6,NaN,"Little Onn Hall, Staffs"
62,1,0,"Chaffee, Mr. Herbert Fuller",male,46.00,1,0,W.E.P. 5734,61.1750,E31,S,NaN,NaN,"Amenia, ND"
63,1,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.00,1,0,W.E.P. 5734,61.1750,E31,S,4,NaN,"Amenia, ND"
64,1,1,"Chambers, Mr. Norman Campbell",male,27.00,1,0,113806,53.1000,E8,S,5,NaN,"New York, NY / Ithaca, NY"
65,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.00,1,0,113806,53.1000,E8,S,5,NaN,"New York, NY / Ithaca, NY"
66,1,1,"Chaudanson, Miss. Victorine",female,36.00,0,0,PC 17608,262.3750,B61,C,4,NaN,NaN
67,1,1,"Cherry, Miss. Gladys",female,30.00,0,0,110152,86.5000,B77,S,8,NaN,"London, England"
68,1,1,"Chevre, Mr. Paul Romaine",male,45.00,0,0,PC 17594,29.7000,A9,C,7,NaN,"Paris, France"
69,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,NaN,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
70,1,0,"Chisholm, Mr. Roderick Robert Crispin",male,NaN,0,0,112051,0.0000,NaN,S,NaN,NaN,"Liverpool, England / Belfast"
71,1,0,"Clark, Mr. Walter Miller",male,27.00,1,0,13508,136.7792,C89,C,NaN,NaN,"Los Angeles, CA"
72,1,1,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.00,1,0,13508,136.7792,C89,C,4,NaN,"Los Angeles, CA"
73,1,1,"Cleaver, Miss. Alice",female,22.00,0,0,113781,151.5500,NaN,S,11,NaN,NaN
74,1,0,"Clifford, Mr. George Quincy",male,NaN,0,0,110465,52.0000,A14,S,NaN,NaN,"Stoughton, MA"
75,1,0,"Colley, Mr. Edward Pomeroy",male,47.00,0,0,5727,25.5875,E58,S,NaN,NaN,"Victoria, BC"
76,1,1,"Compton, Miss. Sara Rebecca",female,39.00,1,1,PC 17756,83.1583,E49,C,14,NaN,"Lakewood, NJ"
77,1,0,"Compton, Mr. Alexander Taylor Jr",male,37.00,1,1,PC 17756,83.1583,E52,C,NaN,NaN,"Lakewood, NJ"
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
79,1,1,"Cornell, Mrs. Robert Clifford (Malvina Helen L...",female,55.00,2,0,11770,25.7000,C101,S,2,NaN,"New York, NY"
80,1,0,"Crafton, Mr. John Bertram",male,NaN,0,0,113791,26.5500,NaN,S,NaN,NaN,"Roachdale, IN"
81,1,0,"Crosby, Capt. Edward Gifford",male,70.00,1,1,WE/P 5735,71.0000,B22,S,NaN,269.0,"Milwaukee, WI"
82,1,1,"Crosby, Miss. Harriet R",female,36.00,0,2,WE/P 5735,71.0000,B22,S,7,NaN,"Milwaukee, WI"
83,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.00,1,1,112901,26.5500,B26,S,7,NaN,"Milwaukee, WI"
84,1,0,"Cumings, Mr. John Bradley",male,39.00,1,0,PC 17599,71.2833,C85,C,NaN,NaN,"New York, NY"
85,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.00,1,0,PC 17599,71.2833,C85,C,4,NaN,"New York, NY"
86,1,1,"Daly, Mr. Peter Denis",male,51.00,0,0,113055,26.5500,E17,S,5 9,NaN,"Lima, Peru"
87,1,1,"Daniel, Mr. Robert Williams",male,27.00,0,0,113804,30.5000,NaN,S,3,NaN,"Philadelphia, PA"
88,1,1,"Daniels, Miss. Sarah",female,33.00,0,0,113781,151.5500,NaN,S,8,NaN,NaN
89,1,0,"Davidson, Mr. Thornton",male,31.00,1,0,F.C. 12750,52.0000,B71,S,NaN,NaN,"Montreal, PQ"
90,1,1,"Davidson, Mrs. Thornton (Orian Hays)",female,27.00,1,2,F.C. 12750,52.0000,B71,S,3,NaN,"Montreal, PQ"
91,1,1,"Dick, Mr. Albert Adrian",male,31.00,1,0,17474,57.0000,B20,S,3,NaN,"Calgary, AB"
92,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.00,1,0,17474,57.0000,B20,S,3,NaN,"Calgary, AB"
93,1,1,"Dodge, Dr. Washington",male,53.00,1,1,33638,81.8583,A34,S,13,NaN,"San Francisco, CA"
94,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
95,1,1,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.00,1,1,33638,81.8583,A34,S,5,NaN,"San Francisco, CA"
96,1,0,"Douglas, Mr. Walter Donald",male,50.00,1,0,PC 17761,106.4250,C86,C,NaN,62.0,"Deephaven, MN / Cedar Rapids, IA"
97,1,1,"Douglas, Mrs. Frederick Charles (Mary Helene B...",female,27.00,1,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.00,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
99,1,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.00,1,0,11755,39.6000,A16,C,1,NaN,London / Paris

In [16]:
df.tail(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5,0,0,2656,7.225,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0,0,0,2670,7.225,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0,0,0,315082,7.875,NaN,S,NaN,NaN,NaN

In [18]:
df_head50 = df.head(50)

In [19]:
df_head50 = df.head(50)
df_head50

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.00,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.00,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.00,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.00,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.00,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.00,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.00,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.00,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen ""Nellie""",female,26.00,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.00,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.00,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.00,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.00,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.00,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"
20,1,1,"Beckwith, Mr. Richard Leonard",male,37.00,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
21,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.00,1,1,11751,52.5542,D35,S,5,NaN,"New York, NY"
22,1,1,"Behr, Mr. Karl Howell",male,26.00,0,0,111369,30.0000,C148,C,5,NaN,"New York, NY"
23,1,1,"Bidois, Miss. Rosalie",female,42.00,0,0,PC 17757,227.5250,NaN,C,4,NaN,NaN
24,1,1,"Bird, Miss. Ellen",female,29.00,0,0,PC 17483,221.7792,C97,S,8,NaN,NaN
25,1,0,"Birnbaum, Mr. Jakob",male,25.00,0,0,13905,26.0000,NaN,C,NaN,148.0,"San Francisco, CA"
26,1,1,"Bishop, Mr. Dickinson H",male,25.00,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
27,1,1,"Bishop, Mrs. Dickinson H (Helen Walton)",female,19.00,1,0,11967,91.0792,B49,C,7,NaN,"Dowagiac, MI"
28,1,1,"Bissette, Miss. Amelia",female,35.00,0,0,PC 17760,135.6333,C99,S,8,NaN,NaN
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.00,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
30,1,0,"Blackwell, Mr. Stephen Weart",male,45.00,0,0,113784,35.5000,T,S,NaN,NaN,"Trenton, NJ"
31,1,1,"Blank, Mr. Henry",male,40.00,0,0,112277,31.0000,A31,C,7,NaN,"Glen Ridge, NJ"
32,1,1,"Bonnell, Miss. Caroline",female,30.00,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
33,1,1,"Bonnell, Miss. Elizabeth",female,58.00,0,0,113783,26.5500,C103,S,8,NaN,"Birkdale, England Cleveland, Ohio"
34,1,0,"Borebank, Mr. John James",male,42.00,0,0,110489,26.5500,D22,S,NaN,NaN,"London / Winnipeg, MB"
35,1,1,"Bowen, Miss. Grace Scott",female,45.00,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
36,1,1,"Bowerman, Miss. Elsie Edith",female,22.00,0,1,113505,55.0000,E33,S,6,NaN,"St Leonards-on-Sea, England Ohio"
37,1,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,9,NaN,"Los Angeles, CA"
38,1,0,"Brady, Mr. John Bertram",male,41.00,0,0,113054,30.5000,A21,S,NaN,NaN,"Pomeroy, WA"
39,1,0,"Brandeis, Mr. Emil",male,48.00,0,0,PC 17591,50.4958,B10,C,NaN,208.0,"Omaha, NE"
40,1,0,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,NaN,NaN,"Philadelphia, PA"
41,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.00,0,0,PC 17610,27.7208,B4,C,6,NaN,"Denver, CO"
42,1,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.00,2,0,11769,51.4792,C101,S,D,NaN,"Belmont, MA"
43,1,1,"Bucknell, Mrs. William Robert (Emma Eliza Ward)",female,60.00,0,0,11813,76.2917,D15,C,8,NaN,"Philadelphia, PA"
44,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C,3,NaN,NaN
45,1,0,"Butt, Major. Archibald Willingham",male,45.00,0,0,113050,26.5500,B38,S,NaN,NaN,"Washington, DC"
46,1,0,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,NaN,NaN,NaN
47,1,1,"Calderhead, Mr. Edward Pennington",male,42.00,0,0,PC 17476,26.2875,E24,S,5,NaN,"New York, NY"
48,1,1,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.00,0,0,PC 17606,27.4458,NaN,C,6,NaN,"Washington, DC"
49,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.00,0,1,PC 17755,512.3292,B51 B53 B55,C,3,NaN,"Austria-Hungary / Germantown, Philadelphia, PA"